django==4.2
djangorestframework
django-filter
djangorestframework-simplejwt
drf-nested-routers
pytest-django
django-cors-headers
markdown
drf_yasg
drf_spectacular
whitenoise
gunicorn
python-dotenv
django-countries
django-extensions
werkzeug
pyOpenSSL
rave-python
python-decouple
resend
psycopg2
django-environ
dj-rest-auth
django-allauth
six
numpy
pandas
scipy
opencv-python
# dlib
numpy
opencv-python
# dlib-19.24.4.tar.gz

# dlib-19.24.2-cp37-cp37m-linux_armv6l.whl

dlib-binary

build
simple-background-remover==1.0.1
psycopg2-binary
whitenoise
onnxruntime
# rembg
requests
cmake
rembg
dlib-binary