django
djangorestframework
django-filter
djangorestframework-simplejwt
drf-nested-routers
pytest-django
django-cors-headers
markdown
drf_yasg
drf_spectacular
whitenoise
gunicorn
python-dotenv
django-countries
django-extensions
werkzeug
pyOpenSSL
rave-python
python-decouple
resend
django-environ
dj-rest-auth
django-allauth
six
numpy
pandas
scipy
opencv-python

numpy
opencv-python
# dlib-19.24.4.tar.gz

# dlib-19.24.2-cp37-cp37m-linux_armv6l.whl
build
simple-background-remover==1.0.1
psycopg2-binary
whitenoise
onnxruntime
# rembg
requests
rembg